/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#share-button > .urlbar-icon {
  list-style-image: url("chrome://browser/content/sharing/share-alt.svg");

  /* Match the share icons more closely to the OS share icon */
  @media (-moz-platform: macos) {
    list-style-image: url("chrome://browser/skin/share.svg");
  }
}

#share-panel {
  font: caption;
}

#share-panel-mainView {
  width: 20em;
}

/* Grow to fit the device list, up to twice the main view's width.
   "!important" is necessary to override the inline max-width PanelMultiView
   sets on subviews. */
#share-panel-deviceView {
  max-width: 40em !important;
}

#share-panel-copy-link {
  list-style-image: url("chrome://browser/content/sharing/copy-link.svg");
}

#share-panel-screenshot {
  list-style-image: url("chrome://browser/skin/screenshot.svg");
}

#share-panel-qr-code {
  list-style-image: url("chrome://browser/content/sharing/qr-code.svg");
}

#share-panel-send-to-device {
  list-style-image: url("chrome://browser/skin/device-phone.svg");
}

#share-panel-connect-device {
  list-style-image: url("chrome://global/skin/icons/plus.svg");
}

#share-panel-device-help {
  list-style-image: url("chrome://global/skin/icons/help.svg");
}

#share-panel-mail {
  list-style-image: url("chrome://browser/content/sharing/mail.svg");
}

#share-panel-os-share {
  list-style-image: url("chrome://browser/content/sharing/share-alt.svg");

  /* Match the share icons more closely to the OS share icon */
  @media (-moz-platform: macos) {
    list-style-image: url("chrome://browser/skin/share.svg");
  }
}
