/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This file is for things that are required for the Urlbar (and Smartbar) to
  * work in both chrome and in content.
  */

:root {
  --identity-box-margin-inline: 4px;
  --urlbar-min-height: max(32px, 1.4em);
  --urlbar-icon-padding: calc((var(--urlbar-min-height) - 2px /* border */ - 2px /* padding */ - 16px /* icon */) / 2);

  /* This should be used for icons and chiclets inside the input field, as well
     as result rows. It makes the gap around them more uniform when they are
     close to the field edges. */
  --urlbar-inner-border-radius: calc(var(--toolbarbutton-border-radius) - 1px);
  --urlbar-searchmodeswitcher-inline-padding: 6px;
  --urlbar-searchmodeswitcher-margin-inline-end: 0.45em;

  /* XXX the uidensity attribute is currently not wired up to the
   * Smart Window document elements, which is needed for these
   * rules to be used.
   *
   * Tracked by https://bugzilla.mozilla.org/show_bug.cgi?id=2015371
   */
  &[uidensity="compact"] {
    --urlbar-min-height: max(26px, 1.4em);
  }

  &[uidensity="touch"] {
    --urlbar-min-height: max(34px, 1.4em);
  }
}
