/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.wrapper {
  padding: var(--space-large);
}

.prompt-textarea {
  columns: 3;
  width: 100%;
  margin-block-end: var(--space-medium);
}

.message {
  max-width: 80%;
  word-wrap: break-word;
  margin-bottom: var(--space-medium);
  padding: var(--space-medium);
  border-radius: var(--border-radius-small);
  font-size: 14px;
}

.message.user {
  --message-user-bg-light: var(--color-blue-30);
  --message-user-bg-dark: var(--color-blue-70);
  background-color: light-dark(var(--message-user-bg-light), var(--message-user-bg-dark));
}

.message.assistant {
  --message-assistant-bg-light: var(--color-gray-20);
  --message-assistant-bg-dark: var(--color-gray-70);
  background-color: light-dark(var(--message-assistant-bg-light), var(--message-assistant-bg-dark));
}

.footer {
  margin-block-start: var(--space-medium);
  display: flex;
  justify-content: flex-end;
}

.log-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-entries {
  display: flex;
  gap: var(--space-medium);
  margin-block-end: var(--space-medium);
  flex-direction: column;
  font-size: 12px;
}

.log-title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-medium);
  margin-block-end: var(--space-medium);
  display: block;
}

.log-entry {
  border: 1px solid currentColor;
  padding: var(--space-medium);
  border-radius: var(--border-radius-small);
  overflow-wrap: break-word;
}
