/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

th {
  text-align: start;
}

.clear {
  display: none;
}
.assigned .clear {
  display: revert;
}

.reset {
  display: none;
}
.customized .reset {
  display: revert;
}

.newLabel {
  display: none;
}

.editing {
  .change {
    display: none;
  }
  .newLabel {
    display: revert;
  }
}
