/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  padding: var(--space-xxlarge);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  line-height: 2;
}

.description {
  font-weight: var(--font-weight-semibold);
  margin-bottom: 0;
}

.illustration {
  max-width: 300px;
  height: 209px;
}

.illustration.logged-in {
  opacity: 0.5;
}
