/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /* 580px - max width for chat content and smartbar */
  --smartwindow-content-max-width: calc(var(--size-layout-xlarge) + var(--dimension-80));
}
