/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* This file is intended to be used specifically by aiWindow.html */
@import url("chrome://browser/skin/urlbar-variables.css");

:root {
  --smartwindow-brand-accent: light-dark(var(--color-violet-90), var(--color-violet-40));
  --box-shadow-color-lighter-layer-1: color-mix(in srgb, var(--color-violet-50) 15%, transparent);
  --box-shadow-color-lighter-layer-2: color-mix(in srgb, var(--color-violet-50) 25%, transparent);
  --smartwindow-shadow: var(--box-shadow-level-2);
  /* TODO - Sidebar is overriding some base vars that common have, manually setting them here for now. */
  --font-size-small: 0.867rem; /* 13px */
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

/* Override the 500px min-width from browser-shared.css when in narrow
 * viewports (e.g., the AI sidebar). Without this, content gets clipped.
 * See Bug 2008938.
 */
@media (max-width: 500px) {
  :root {
    --window-min-width: 0;
  }
}
