<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title data-l10n-id="genai-smart-assist-title"></title>
    <link rel="localization" href="preview/genai.ftl" />
    <link rel="stylesheet" href="chrome://global/skin/in-content/common.css" />
    <script
      type="module"
      src="chrome://browser/content/genai/content/smart-assist.mjs"
    ></script>
  </head>
  <body>
    <h1 data-l10n-id="genai-smart-assist-title"></h1>
    <smart-assist mode="tab"></smart-assist>
  </body>
</html>
