/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

@import "chrome://global/skin/global.css";

#site-settings-label {
  --box-border-radius-start: initial;
}

.site-settings {
  --box-group-border: none;
  background-color: var(--background-color-box);
}

.exception-enabled {
  --box-icon-fill: var(--icon-color-success);
}
