/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

.discovery-stream.ds-layout.ds-layout-widgets {
  margin-inline: 0;
}

.widgets-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-block-end: var(--space-large);
}

.widgets-container {
  &:has(.lists),
  &:has(.focus-timer) {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: var(--space-large);
    justify-content: center;
    width: 100%;

    // Mirrors the grid-gap spacing used on
    // .ds-outer-wrapper-breakpoint-override .ds-card-grid
    @media(min-width: $break-point-widest) {
      gap: var(--space-xlarge);
    }
  }

  // Sections Layout Override
  .has-sections-grid & {
    @media(min-width: $break-point-widest) {
      gap: var(--space-large);
    }
  }
}

.feature-highlight .feature-highlight-modal.widget-highlight-wrapper {
  width: auto;
  border-radius: var(--border-radius-medium);

  .content-wrapper {
    margin: 0;
    padding: var(--space-medium);
  }

  .widget-highlight {
    img {
      border-radius: var(--border-radius-medium);
      margin-block-end: var(--space-small);
    }

    h3 {
      margin-block: 0 var(--space-xsmall);
      font-size: var(--font-size-root);
    }

    p {
      margin-block: 0;
      font-size: var(--font-size-root);
    }
  }

  .message-icon {
    display: none;
  }

  moz-button {
    position: absolute;
    inset-inline-end: var(--space-medium);
    inset-block-start: var(--space-medium);
  }
}
