.ds-privacy-link {
  text-align: center;
  font-size: var(--font-size-small);

  /**
   * @backward-compat { version 146 }
   *
   * Replace this with `--font-weight-semibold` once 146 hits release.
   */
  font-weight: var(--heading-font-weight);

  a:hover {
    text-decoration: none;
  }
}
