/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

:root {
  --content-width-offset: 340px;
  --table-width: calc(100vw - var(--content-width-offset));
}

body {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.category .category-name {
  pointer-events: none;
}

.category {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.main-content {
  flex: 1;
}

#tag-pings:invalid + label > span {
  font-weight: var(--font-weight-semibold);
  text-decoration: underline;
  color: var(--text-color-error);
}

#feedback {
  visibility: hidden;
  position: fixed;
  z-index: 1;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  bottom: var(--space-medium);
}

#log-pings {
  vertical-align: text-top;
  margin-inline-end: 0;
}

#metrics-table-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#metrics-table {
  width: var(--table-width);
}

#metrics-table table {
  width: var(--table-width);
}

#metrics-table table td {
  vertical-align: middle;
}

#metrics-table-instance {
  max-height: calc(100vh - 205px);
  overflow-y: scroll;
}

#metrics-table-header {
  display: flex;
  justify-content: space-between;
}

#metrics-table-settings:not([hidden="true"]) .content {
  display: flex;
  flex-wrap: wrap;
}

#metrics-table-settings .content > * {
  flex: 1 0 auto;
}

@media (max-width: 1096px) {
  #metrics-table-settings .content > * {
    flex-basis: 100%;
  }
}

#metrics-table-settings,
#metrics-table-settings .box {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid var(--border-color-card);
  border-radius: var(--border-radius-small);
  background-color: var(--background-color-box);
}

#metrics-table-settings h2,
#metrics-table-settings h3,
#metrics-table-settings h4 {
  margin: 10px 0;
}

#metrics-table-settings hr {
  margin: 20px 0;
}

td[data-d3-cell="actions"] > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

td[data-d3-cell="value"] > pre,
#metrics-table-settings-timeline-example > pre {
  background-color: var(--background-color-box);
  padding: 5px;
  border-radius: var(--border-radius-small);
  overflow-x: scroll;
  width: fit-content;
}

td[data-d3-cell="value"] > svg,
.chart-display > svg {
  color: var(--text-color);
  border: 1px solid var(--border-color-card);
  border-radius: var(--border-radius-small);
  background-color: var(--background-color-box);
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.histogram .boxes rect,
.timeline .events circle {
  fill: var(--color-accent-primary);
}

.histogram .boxes .hovered rect,
.timeline .events .hovered circle,
.timeline .events .selected circle {
  fill: var(--color-accent-primary-hover);
}

.histogram .boxes text,
.timeline text {
  fill: var(--text-color);
}

.histogram .tick *,
.histogram .domain {
  fill: var(--text-color);
}

.timeline line {
  stroke: var(--text-color);
}

pre.withChart {
  max-width: 500px;
  overflow: scroll;
}
