/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  display: block;
  margin-block: 0 var(--panel-menuitem-margin-inline);
  margin-inline: var(--panel-menuitem-margin-inline);
}

:host([hidden]) {
  display: none;
}

moz-promo {
  --promo-image-size: var(--size-image-xsmall);
  --promo-padding: var(--space-large);
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-color-hover);
  }

  &:active {
    color: var(--link-color-active);
  }
}
