<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. -->

<!-- Note: This is a content process level document to interact with LLM services and render LLM output -->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" role="document">
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src resource: chrome:; object-src 'none'; img-src chrome:;"
    />
    <meta name="color-scheme" content="light dark" />
    <!-- TODO : Add localization preview -->
    <title>AI Chat Content</title>
    <link rel="stylesheet" href="chrome://global/skin/in-content/common.css" />
    <script src="chrome://browser/content/contentTheme.js"></script>
  </head>
  <body id="ai-window-wrapper">
    Placeholder for AI Chat Content
  </body>
</html>
