/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.toggle-button {
  padding: 4px 6px;
}

.toggle-button .dbg-img {
  vertical-align: middle;
}

.toggle-button.end {
  margin-inline-end: 0;
  margin-inline-start: auto;
}

.toggle-button.start {
  margin-inline-start: 0;
}

html[dir="rtl"] .toggle-button.start .dbg-img,
html[dir="ltr"] .toggle-button.end:not(.vertical) .dbg-img {
  transform: scaleX(-1);
}

.toggle-button.end.vertical .dbg-img {
  transform: rotate(-90deg);
}
