/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * chick-fil-a.com - red-colored icons are vertically stretched
 * Bug #1994571 - https://bugzilla.mozilla.org/show_bug.cgi?id=1994571
 *
 * The site's height:100% on the icons is causing them to stretch on
 * Firefox. We can work around it here.
 */
.classic-callout img {
  height: auto;
  max-height: 100%;
}
