/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * polymarket.com - extra scrollbars are visible
 * Bug #1995452 - https://bugzilla.mozilla.org/show_bug.cgi?id=1995452
 *
 * The site uses non-standard webkit-scrollbar CSS to hide scrollbars.
 * We can use the web standards compliant method to hide them instead.
 */
* {
  scrollbar-width: none;
}
