/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * character.ai - some text is not italicized
 * Bug #2004610 - https://bugzilla.mozilla.org/show_bug.cgi?id=2004610
 *
 * The font they are using is buggy, but we can work around it with some CSS.
 */
.font-display em {
  font-variation-settings: "ital" 10;
}
