/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * portal.adtpulse.com - Browser is not supported message
 * Bug #2005520 - https://bugzilla.mozilla.org/show_bug.cgi?id=2005520
 * WebCompat issue #194450 - https://webcompat.com/issues/194450
 */
#unsupported_warning_row {
  display: none;
}
