/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * tjoy.jp - zoom is broken.
 * Bug #2003826 - https://bugzilla.mozilla.org/show_bug.cgi?id=2003826
 *
 * Zoom-in is broken because the page sets '-moz-transform' and 'zoom' together to realize zoom-in.
 * This CSS corrects that issue.
 */
.js-map {
  -moz-transform: none !important;
}
