/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

:root {
  height: 100%;
}

body {
  background: no-repeat light-dark(linear-gradient(#f0ebfd, #f7ebeb), linear-gradient(#332a50, #3f2a2f));
  display: flex;
  justify-content: center;
  height: 100%;
}

h3 {
  color: var(--text-color);
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-space-tokens */
  margin-block-start: calc(var(--size-item-large) * 5);
}
