/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

moz-card {
  --card-padding: var(--space-medium);
  --card-border-radius: var(--border-radius-large);
  margin-block-end: var(--space-xxlarge);
}
