/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

:root {
  height: 100%;
  --splitview-opentabs-card-width: 358px;
  background: no-repeat light-dark(linear-gradient(#f0ebfd, #f7ebeb), linear-gradient(#332a50, #3f2a2f));
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.sticky-header {
  background: linear-gradient(to bottom, light-dark(#f0ebfd, #332a50) 0%, light-dark(#f0ebfd, #332a50) 95%, transparent 100%);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

h3 {
  color: var(--text-color);
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  margin-block-start: calc(var(--size-item-large) * 3.375);
  height: min-content;
}

splitview-opentabs {
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  width: var(--splitview-opentabs-card-width);
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-size-tokens */
  max-width: var(--splitview-opentabs-card-width);
}
