.modalOverlayOuter {
  border: none;
  box-shadow: var(--box-shadow-popup);
  padding: 0;
  border-radius: var(--border-radius-medium);

  &::backdrop {
    background: var(--newtab-overlay-color);
  }
}
